@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
	height: 100%;
	width: 100%;
	
		background-color:#fff;
}
h3,h4{
	color:#453d9c;
	font-size: 20px;
	padding: 15px;
	font-weight: bold;
}
p{
	font-size:15px;
	color:#7a7977,#000000;
	padding: 0;
	font-family:Roboto;
}
.sub{
	font-size: 30px;
	font-weight: bold;
	font-family:'Libre Baskerville', serif;
	background-color:#fff;
	padding-left: 38px;
	margin: 0;
	color:#453d9c;
}
.navbar{
font-weight: bold;
font-size:15px;
font-family:sans-serif;
font-color: red;
background-color:white;
padding: 1rem;
width: 100%;
}
.nav-item active{
	color:purple;
}
.navbar-nav li{
	padding-right: 20px;
	background-color:#fff,yellow;
	color: #453d9c;
}	
.nav-link{
	font-size: 1.0em !important;
}
.text-red{
	text-decoration-color: red;
}
.display-4{
	color:#453d9c;
	font-size:200%;
	font-weight: bold;
	padding: 3%;

}
.carousel-inner img{
	width: 100%;
	height: 100%;
	background-color:#fff;

}

.rounded{
	padding-top: 2rem;
}
/*media queries*/

@media(max-width: 768px){
.carousel-caption{
	top: 45%;
}
h3,h4{
	font-size: 20px;
	padding: 15px;
	font-weight: bold;
}
p{
	font-size:15px;
}
.carousel-caption h1{
	font-size: 350%;
}
.carousel-caption h3{
	font-size: 140%;
	font-weight: 400;
	padding-bottom: 1rem;
}
.carousel-caption .btn{
	font-size: 95%;
	padding: 8px 14px;
}
.display-4{
	font-size: 200%;
}
}
@media(max-width: 576px){
.carousel-caption{
top: 40%;
}
h3,h4{
	font-size: 18px;
	padding: 15px;
	font-weight: bold;
}
p{
	font-size:14px;
}
.carousel-caption h1{
	font-size: 250%;
}
.carousel-caption h3{
font-size: 110%;	
}
.carousel-caption .btn{
font-size: 90%;
padding: 4px 8px;	
}
.carousel-indicators{
	display: none;
}
.display-4{
	font-size: 160%;
}
}

/*Flexbox*/
.carousel-item{
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease,-webkit-transform 0.5s ease;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;

}

/*--------------deep design for team------------------------------*/
#team{
	min-height: 100vh;
	box-sizing: border-box;
	color:#453d9c;
} 
.team h1{
	text-align: center;
	padding: 3rem;
	color:#453d9c;
}

.main{
 color:#453d9c;
 justify-content: center;
 align-items: center;
 margin-top: 10px;
 width: 100vw;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px, 300px));
columb-gap: 10px;
}


.team-img{
	width: 200px;
	height: 200px;
	margin-top: 6rem;
	object-fit: cover;
	object-position: center;
	padding: 0rem;
	border: 5px solid green;
	border-radius: 50%;
	border-color: green;
    color:#453d9c;
}

/*----------------------------------join section-------------------------------->*/

.join{
	padding-top: 5rem;

	color:#453d9c;
	font-family: sans-serif;
	text-align: center;

	box-sizing: border-box;
}
/*
.container-main{
    background-color:#f2f2f2;
	}*/
.container{
		background: cover;
		width: 100%;
		background-color: #f2f2f2,white;
		color:#453d9c;
	}
.row{
		background-color: #f2f2f2,white;
		/*padding: 0px;*/
	}

.card{

	/*width: 40%;
	height: 40%;*/
	background-color: #fff;
}

.btn{
	font-family: sans-serif;
	font-size: :19px;
	font-weight: bold;
	background: #99cc00;
	text-decoration: none;
	width:120px;
	padding: 13px;
	margin-bottom: 2rem;
	margin-top: 2rem;
	margin-left: 25rem;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0, );
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow,transform;

}
.btn:hover, .btn:focus, .btn:active{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
/*-----------------------------------------contact-------------------------------*/



.footer-top{
	background-color: red,#b3b3cc;
	margin-bottom: 0px;
}
.container2{
	background-color: blue,#b3b3cc;
	width: 100%;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 0px;

	align-items: center;
}
.get h4{
	margin-left: 26rem;
	color:#453d9c;
}
.contact{
	background-color: red,#b3b3cc;
	padding-top: 0rem;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	top: 0;
}
.logoday2{
	size:18%;
	/*padding-left: 2rem;*/
}
.footer-links{
	padding-top: 1rem;
	padding-left: 1rem;
	background-color: orange,#b3b3cc;
}
.contactForm{
	background-color: green,#b3b3cc;
}
.form-group{
	background-color: red,#b3b3cc;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
form{
		justify-content: right;

	}

.row2{
	padding-left: 3rem;
}
.card2{
    width: 80%;
 }

 .card-body{
		font-family: sans-serif;
		font-size: 13px;
		color: black;
		width: 100%;
	}

	section{
 	width: 100%;
 	background-color: #e0e0d1;
 	padddig-top: 5rem;

 }
 .btn2{
   font-family: sans-serif;
	font-size:19px;
	font-weight: bold;
	margin-left: 5rem;
	padding: 1px;
	text-transform: uppercase;
   background: #99cc00;
   color: #fff;
	border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0, );
	cursor: pointer;
	text-decoration: none;
	width:120px;
	border-color: none;
}
/*

 /*---------------footer----------------------------*/
 footer{
 	/*text-align: center;*/

  background-color: black;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 0px;
  margin-top: 0px;

 }
footer p {
	text-align: center;
	margin-top: 1px;
	color: #fff;
	font-size: 20px;

}
footer a {
	margin-left: 2rem;
	margin-bottom: 0rem;
	color: yellow;
	text-align: justify-all;
	text-decoration: none;
}



